body{
    background-color: #efefef;
}

.main{
    margin:30px;
    background-color: white;
}
.btn-publish{
    float:right;
    margin-bottom:15px;
}

.container-fluid {
    width: 95%;
}

.media-object{
    width:100px;
    height:100px;
}
.media-body {
    padding-top: 10px;
}
.text-dec{
    font-size:12px;
    font-weight:normal;
    color:#999;
}