<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.1/jquery.min.js} "></script>

    <script src="/js/zepto.js"></script>
    <link rel="stylesheet" href="/css/community.css">
    <link href="/editor.md/css/editormd.min.css" rel="stylesheet"/>

</head>
<script type="application/javascript">
    window.onload=function(){
        window.localStorage.getItem("closable");
        if (closable == true) {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class ="glyphicon glyphicon-list" aria-hidden="true">发现</span></h2>
            <hr>
            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a class="title_q" style="color:#337ab7;" th:href="@{'question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <!--<span th:text="${question.description}"></span><br>-->
                    <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复·<span th:text="${question.viewCount}"></span>次浏览·
                        <span th:text="${#dates.format(question.gmtCreate,'dd MMMM yyyy')}"></span>
                        <span><a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                                 th:if="${session.user != null && session.user.id == question.creator}">
                        <ion-icon name="create"></ion-icon> 编辑
                    </a></span>
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="pagination" th:if="${search}">
        <li class="page-item" th:if="${pagination.showFirstPage}"><a class="page-link"
                                                                     th:href="@{/(page=1,search=${search})}">&lt;&lt;</a>
        </li>
        <li class="page-item" th:if="${pagination.showPrevious}"><a class="page-link"
                                                                    th:href="@{/(page=${pagination.page -1},search=${search})}">&lt;</a>
        </li>
        <li class="page-item" th:each="page:${pagination.pages}" th:classappend="${pagination.page ==page}?'active':''">
            <a class="page-link" th:href="@{/(page=${page},search=${search})}" th:text="${page}"></a></li>
        <li class="page-item" th:if="${pagination.showNext}"><a class="page-link"
                                                                th:href="@{/(page=${pagination.page +1},search=${search})}">&gt;</a>
        </li>
        <li class="page-item" th:if="${pagination.showEndPage}"><a class="page-link"
                                                                   th:href="@{/(page=${pagination.totalPage},search=${search})}">&gt;&gt;</a>
        </li>
    </ul>
    <ul class="pagination" th:if="${search==null}">
        <li class="page-item" th:if="${pagination.showFirstPage}"><a class="page-link"
                                                                     th:href="@{/(page=1)}">&lt;&lt;</a></li>
        <li class="page-item" th:if="${pagination.showPrevious}"><a class="page-link"
                                                                    th:href="@{/(page=${pagination.page -1})}">&lt;</a>
        </li>
        <li class="page-item" th:classappend="${pagination.page ==page}?'active':''" th:each="page:${pagination.pages}">
            <a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"></a></li>
        <li class="page-item" th:if="${pagination.showNext}"><a class="page-link"
                                                                th:href="@{/(page=${pagination.page +1})}">&gt;</a></li>
        <li class="page-item" th:if="${pagination.showEndPage}"><a class="page-link"
                                                                   th:href="@{/(page=${pagination.totalPage})}">&gt;&gt;</a>
        </li>
    </ul>
</div>
<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>

</html>