<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.1/jquery.min.js} "></script>
    <link rel="stylesheet" href="/css/community.css">
</head>


<body>

<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">社区</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_left">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto ">

                <li class="nav-item dropdown" th:if="${session.user !=null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">消息中心</a>
                        <a class="dropdown-item" href="#">个人资料</a>
                        <a class="dropdown-item" href="/profile/questions">我的问题</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">退出登陆</a>
                    </div>
                </li>

                <form class="form-inline ">
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </form>
                <li class="nav-item " th:if="${session.user ==null}">
                    <a class="nav-link"
                       href="https://github.com/login/oauth/authorize?client_id=caa2b1b5506321db89cb&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a>
                </li>
                <li class="nav-item " th:if="${session.user==null}">
                    <a class="nav-link" href="/publish" >发布</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

</body>

</html>